* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d467;
}

.lang-logo {
  transition: transform 0.4s;
}

.lang-card:hover {
  box-shadow: 3px 3px 20px 5px gray;
}

.lang-card:hover .lang-logo {
  transform: scale(1.2);
}
